*{
  justify-content: center;
  font-family: Verdana, Tahoma, sans-serif;
}
header{
  display: flex;
}
main{
  width: 700px;
  margin: 0px 400px 0 400px;
}
#ava{
  width: 150px;
  height: 150px;
  border: 2px solid blue;
  border-radius: 50%;
  margin: 30px 40px 30px 10px;
}
